<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>sp1</display-name>
  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>appServlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/spring/servlet-context.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup> 	
  	
  	<!-- 파일 업로드 관련 설정 -->
  	<multipart-config>
			<!-- 업로드 가능한 파일 1개의 최대 크기 (1MB * 20) -->
			<max-file-size>20971520</max-file-size>
				
			<!-- 하나의 요청(Request)에서 허용되는 전체 업로드 최대 크기 (1MB * 40) -->
	  	<max-request-size>41943040</max-request-size>
	    	
	  	<!-- 파일을 디스크에 쓰기 전까지 메모리에 보관할 임계 크기 (1MB * 20) -->
	  	<file-size-threshold>20971520</file-size-threshold>
	  </multipart-config>
  
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>appServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list> -->
</web-app>